html {
  --bg: #1E1F21;
  --fg: #EEEFF1;
  --link: #BAD7FF;
  --activelink: #11CC11;
}

@media (prefers-color-scheme: light) {
  html {
    --bg: #FFFFFF;
    --fg: #000000;
    --link: #0000CD;
    --activelink: #FF8C00;
  }
}

body {
  background-color: var(--bg);
  color: var(--fg);
}

a {
  text-decoration: none;
  color: var(--link);
}

a:hover {
  text-decoration: underline;
  color: var(--activelink);
}

.radio-button input[type="radio"] {
  display: none;
}

.radio-button label {
  color: var(--link);
}

.radio-button label:hover {
  text-decoration: underline;
  color: var(--activelink);
  cursor: pointer;
}

.radio-button input[type="radio"]:checked+label {
  text-decoration: none;
  color: var(--activelink);
}

.button {
  background-color: var(--bg);
  color: var(--link);
  border: 1px solid var(--link);
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-family: monospace;
  transition-delay: 0.1s;
}

.button:active {
  background-color: var(--activelink);
  color: var(--bg);
  border: 1px solid var(--activelink);
  transition: 0s;
}
