html {
  --bg: #1E1F21;
  --output-bg: #000000;
  --fg: #EEEFF1;
  --link: #BAD7FF;
  --activelink: #11CC11;
}

@media (prefers-color-scheme: light) {
  html {
    --bg: #f4f4f4;
    --output-bg: #ffffff;
    --fg: #000000;
    --link: #24629D;
    --activelink: #04A12B;
  }
}

body {
  background-color: var(--bg);
  color: var(--fg);
  font-family: sans-serif;
  font-size: 1.05em;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--link);
}

a:hover {
  text-decoration: underline;
  color: var(--activelink);
}

.radio-button input[type="radio"] {
  display: none;
}

.radio-button label {
  color: var(--link);
}

.radio-button label:hover {
  text-decoration: underline;
  color: var(--activelink);
  cursor: pointer;
}

.radio-button input[type="radio"]:checked+label {
  text-decoration: none;
  color: var(--activelink);
}

.refresh-button {
  background-color: var(--bg);
  color: var(--link);
  border: 1px solid var(--link);
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  transition-delay: 0.1s;
  font-family: monospace;
  font-size: 1.05em;
}

.refresh-button:active {
  background-color: var(--activelink);
  color: var(--bg);
  border: 1px solid var(--activelink);
  transition: 0s;
}

.output {
  background-color: var(--output-bg);
  border: 1px solid var(--fg);
  padding: 5px 5px 5px 5px;
  overflow: auto;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

td.center-text {
  text-align: center;
}
